<mat-tab-group [(selectedIndex)]="TabIndex">
   <mat-tab label="Filters">
    <form #userForm="ngForm" (ngSubmit)="onSubmit()">
     <div  class="col-sm" style="margin-top:10px">
        <div class="row fixWidth">
          <div class="col-sm">
             <mat-icon aria-hidden="false"><span class="material-icons" style="color: red;">check_circle</span></mat-icon>
             LAST PRICE
          </div>
          <div class="col-sm">
             <mat-form-field>
                <mat-select name="lastPrice" [(ngModel)]="optionModel.lastPrice">
                   <mat-option value="1">greater than [value]</mat-option>
                   <mat-option value="2">less than [value]</mat-option>
                   <mat-option value="3">between [values]</mat-option>
                   <mat-option value="4">greater than [field]</mat-option>
                   <mat-option value="5">less than [field]</mat-option>
                </mat-select>
             </mat-form-field>
                <mat-form-field>
                   <mat-label>Range:</mat-label><input matInput type="number" name="lastPriceFrom" [(ngModel)]="optionModel.lastPriceFrom">
                </mat-form-field>
                <mat-form-field>
                   <mat-label>to</mat-label><input matInput type="number" name="lastPriceTo" [(ngModel)]="optionModel.lastPriceTo">
                </mat-form-field>
          </div>
       </div>
       <div class="row fixWidth">
          <div class="col-sm">
             <mat-icon aria-hidden="false"><span class="material-icons" style="color: red;">check_circle</span></mat-icon>
             SYMBOL
          </div>
          <div class="col-sm">
             <mat-form-field>
                <mat-label>Val:</mat-label><input matInput type="text" name="symbol" [(ngModel)]="optionModel.symbol">
             </mat-form-field>
          </div>
       </div>
       <div class="row fixWidth">
          <div class="col-sm">
             <mat-icon aria-hidden="false"><span class="material-icons" style="color: red;">check_circle</span></mat-icon>
             MARKET CAP $K
          </div>
          <div class="col-sm">
             <mat-form-field>
                <mat-label>Range:</mat-label><input matInput type="text" name="marketCapFrom" [(ngModel)]="optionModel.marketCapFrom">
             </mat-form-field>
             <mat-form-field>
                <mat-label>to</mat-label><input matInput type="text" name="marketCapTo" [(ngModel)]="optionModel.marketCapTo">
             </mat-form-field>
          </div>
       </div>
       <div class="row fixWidth">
          <div class="col-sm">
             <mat-icon aria-hidden="false"><span class="material-icons" style="color: red;">check_circle</span></mat-icon>
             MONEYNESS
          </div>
          <div class="col-sm">
             <mat-form-field>
                <mat-label>Range:</mat-label><input matInput type="number" name="moneyessFrom" [(ngModel)]="optionModel.moneyessFrom">
             </mat-form-field>
             <mat-form-field>
                <mat-label>to</mat-label><input matInput type="number" name="moneyessTo" [(ngModel)]="optionModel.moneyessTo">
             </mat-form-field>
          </div>
       </div>
       <div class="row fixWidth">
          <div class="col-sm">
             <mat-icon aria-hidden="false"><span class="material-icons" style="color: red;">check_circle</span></mat-icon>
             EXCHANGE
          </div>
          <div class="col-sm">
             <section class="example-section">
                <mat-checkbox class="example-margin" name="exchange1" [(ngModel)]="optionModel.exchange1">AMEX</mat-checkbox>
                <mat-checkbox class="example-margin" name="exchange2" [(ngModel)]="optionModel.exchange2">NYSE</mat-checkbox>
                <mat-checkbox class="example-margin" name="exchange3" [(ngModel)]="optionModel.exchange3">NASDAQ</mat-checkbox>
             </section>
          </div>
       </div>
       <div class="row fixWidth">
          <div class="col-sm">
             <mat-icon aria-hidden="false"><span class="material-icons" style="color: red;">check_circle</span></mat-icon>
             STRIKE IMPLIED VOLATILITY
          </div>
          <div class="col-sm">
             <mat-form-field>
                <mat-label>Range:</mat-label><input matInput type="number" name="strikeFrom" [(ngModel)]="optionModel.strikeFrom">
             </mat-form-field>
             <mat-form-field>
                <mat-label>to</mat-label><input matInput type="number" name="strikeTo" [(ngModel)]="optionModel.strikeTo">
             </mat-form-field>
          </div>
       </div>
        <div class="row fixWidth">
           <div class="col-sm">
              <mat-icon aria-hidden="false"><span class="material-icons" style="color: red;">check_circle</span></mat-icon>
              DAYS TO EXPIRATION
           </div>
           <div class="col-sm">
              <div class=row>
                 <mat-form-field>
                    <mat-label>Range:</mat-label><input matInput type="number" name="daysToExpFrom" [(ngModel)]="optionModel.daysToExpFrom">
                 </mat-form-field>
                 <mat-form-field>
                    <mat-label>to</mat-label><input matInput type="number" name="daysToExpTo" [(ngModel)]="optionModel.daysToExpTo">
                 </mat-form-field>
              </div>
              <div class="row">
                 <section class="example-section">
                    <mat-checkbox class="example-margin" name="monthlyExp" [(ngModel)]="optionModel.monthlyExp">Monthly Expirations</mat-checkbox>
                    <mat-checkbox class="example-margin" name="weeklyExp" [(ngModel)]="optionModel.weeklyExp">Weekly Expirations</mat-checkbox>
                 </section>
              </div>
           </div>
        </div>
        <div class="row fixWidth">
           <div class="col-sm">
              <mat-icon aria-hidden="false"><span class="material-icons" style="color: red;">check_circle</span></mat-icon>
              LAST TRADE TIME
           </div>
           <div class="col-sm">
              <mat-form-field>
                 <mat-select name="lastTradeType" [(ngModel)]="optionModel.lastTradeType">
                    <mat-option value="1">between [dates]</mat-option>
                    <mat-option value="2">made within last</mat-option>
                 </mat-select>
              </mat-form-field>
              <mat-form-field>
                 <mat-select name="lastTradeVal" [(ngModel)]="optionModel.lastTradeVal">
                    <mat-option value="1">Session</mat-option>
                    <mat-option value="2">2-Sessions</mat-option>
                    <mat-option value="3">1 Week</mat-option>
                    <mat-option value="4">2 Weeks</mat-option>
                 </mat-select>
              </mat-form-field>
           </div>
        </div>
        <div class="row fixWidth">
           <div class="col-sm">
              <mat-icon aria-hidden="false"><span class="material-icons" style="color: red;">check_circle</span></mat-icon>
              SECURITY TYPE
           </div>
           <div class="col-sm">
              <section class="example-section">
                 <mat-checkbox class="example-margin" name="secStock" [(ngModel)]="optionModel.secStock">Stock</mat-checkbox>
                 <mat-checkbox class="example-margin" name="secNonStock" [(ngModel)]="optionModel.secNonStock">Non-Common Stock</mat-checkbox>
                 <mat-checkbox class="example-margin" name="secEtf" [(ngModel)]="optionModel.secEtf">ETF</mat-checkbox>
                 <mat-checkbox class="example-margin" name="secIndex" [(ngModel)]="optionModel.secIndex">Index</mat-checkbox>
              </section>
           </div>
        </div>
        <div class="row fixWidth">
           <div class="col-sm">
              <mat-icon aria-hidden="false"><span class="material-icons" style="color: red;">check_circle</span></mat-icon>
              OPTION TYPE
           </div>
           <div class="col-sm">
              <section class="example-section">
                 <mat-checkbox class="example-margin" name="optCall" [(ngModel)]="optionModel.optCall">Call</mat-checkbox>
                 <mat-checkbox class="example-margin" name="optPut" [(ngModel)]="optionModel.optPut">Put</mat-checkbox>
              </section>
           </div>
        </div>
        <div class="row fixWidth">
           <div class="col-sm">
              <mat-icon aria-hidden="false"><span class="material-icons" style="color: red;">check_circle</span></mat-icon>
              OPTION VOLUME
           </div>
           <div class="col-sm">
              <mat-form-field>
                 <mat-label>Range:</mat-label><input matInput type="number" name="optVolFrom" [(ngModel)]="optionModel.optVolFrom">
              </mat-form-field>
              <mat-form-field>
                 <mat-label>to</mat-label><input matInput type="number" name="optVolTo" [(ngModel)]="optionModel.optVolTo">
              </mat-form-field>
           </div>
        </div>
        <div class="row fixWidth">
           <div class="col-sm">
              <mat-icon aria-hidden="false"><span class="material-icons" style="color: red;">check_circle</span></mat-icon>
              OPTION OPEN INTEREST
           </div>
           <div class="col-sm">
              <mat-form-field>
                 <mat-label>Range:</mat-label><input matInput type="number" name="optOpIntFrom" [(ngModel)]="optionModel.optOpIntFrom">
              </mat-form-field>
              <mat-form-field>
                 <mat-label>to</mat-label><input matInput type="number" name="optOpIntTo" [(ngModel)]="optionModel.optOpIntTo">
              </mat-form-field>
           </div>
        </div>
        <div class="row fixWidth">
          <div class="col-sm">
             <mat-icon aria-hidden="false"><span class="material-icons" style="color: red;">check_circle</span></mat-icon>
             BID PRICE
          </div>
          <div class="col-sm">
             <mat-form-field>
                <mat-label>Val:</mat-label><input matInput type="number" name="bid" [(ngModel)]="optionModel.bid">
             </mat-form-field>
          </div>
       </div>
       <div class="row fixWidth">
          <div class="col-sm">
             <mat-icon aria-hidden="false"><span class="material-icons" style="color: red;">check_circle</span></mat-icon>
             P/E RATIO TTM
          </div>
          <div class="col-sm">
             <mat-form-field>
                <mat-label>From:</mat-label><input matInput type="number" name="ratioFrom" [(ngModel)]="optionModel.ratioFrom">
             </mat-form-field>
             <mat-form-field>
                <mat-label>to</mat-label><input matInput type="number" name="ratioTo" [(ngModel)]="optionModel.ratioTo">
             </mat-form-field>
          </div>
       </div>
        <button mat-raised-button color="primary">See Results</button>
     </div>
   </form>
  </mat-tab>
     <mat-tab label="Results">
         <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
             <ng-container matColumnDef="symbol">
               <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
               <mat-cell *matCellDef="let element"> {{element.baseSymbol}} </mat-cell>
             </ng-container>
           
             <ng-container matColumnDef="price">
               <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
               <mat-cell *matCellDef="let element"> {{element.baseLastPrice}} </mat-cell>
             </ng-container>
           
             <ng-container matColumnDef="type">
               <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
               <mat-cell *matCellDef="let element"> {{element.symbolType}} </mat-cell>
             </ng-container>
           
             <ng-container matColumnDef="strike">
               <mat-header-cell *matHeaderCellDef> Strike </mat-header-cell>
               <mat-cell *matCellDef="let element"> {{element.strikePrice}} </mat-cell>
             </ng-container>
 
             <ng-container matColumnDef="moneyness">
                 <mat-header-cell *matHeaderCellDef> Moneyness </mat-header-cell>
                 <mat-cell *matCellDef="let element"> {{element.moneyness}} </mat-cell>
               </ng-container>
             
               <ng-container matColumnDef="expDate">
                 <mat-header-cell *matHeaderCellDef> Exp Date </mat-header-cell>
                 <mat-cell *matCellDef="let element"> {{element.expirationDate}} </mat-cell>
               </ng-container>
             
               <ng-container matColumnDef="bid">
                 <mat-header-cell *matHeaderCellDef> Bid </mat-header-cell>
                 <mat-cell *matCellDef="let element"> {{element.bidPrice}} </mat-cell>
               </ng-container>

               <ng-container matColumnDef="midPoint">
                 <mat-header-cell *matHeaderCellDef> MidPoint </mat-header-cell>
                 <mat-cell *matCellDef="let element"> {{element.midpoint}} </mat-cell>
               </ng-container>
             
               <ng-container matColumnDef="ask">
                 <mat-header-cell *matHeaderCellDef> Ask </mat-header-cell>
                 <mat-cell *matCellDef="let element"> {{element.askPrice}} </mat-cell>
               </ng-container>
             
               <ng-container matColumnDef="last">
                 <mat-header-cell *matHeaderCellDef> Last </mat-header-cell>
                 <mat-cell *matCellDef="let element"> {{element.lastPrice}} </mat-cell>
               </ng-container>
            
               <ng-container matColumnDef="volume">
                 <mat-header-cell *matHeaderCellDef> Volume </mat-header-cell>
                 <mat-cell *matCellDef="let element"> {{element.volume}} </mat-cell>
               </ng-container>
 
               <ng-container matColumnDef="openInt">
                 <mat-header-cell *matHeaderCellDef> OpenInt </mat-header-cell>
                 <mat-cell *matCellDef="let element"> {{element.openInterest}} </mat-cell>
               </ng-container>
             
               <ng-container matColumnDef="iv">
                 <mat-header-cell *matHeaderCellDef> IV </mat-header-cell>
                 <mat-cell *matCellDef="let element"> {{element.volatility}} </mat-cell>
               </ng-container>

               <ng-container matColumnDef="earningsDate">
                  <mat-header-cell *matHeaderCellDef> EarningsDate </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.earningsDate}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="marketCap">
                  <mat-header-cell class="mat-column-marketCap" *matHeaderCellDef> MarketCap </mat-header-cell>
                  <mat-cell class="mat-column-marketCap" *matCellDef="let element"> {{element.marketCap}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="basePeRatio">
                  <mat-header-cell *matHeaderCellDef> BasePeRatio </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.basePeRatio}} </mat-cell>
                </ng-container>
           
             <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
             <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
           </mat-table>
 
     </mat-tab>
 </mat-tab-group>  